In [3]:
# What is a database? Differentiate between SQL and NoSQL databases.

In [4]:
"""
Ans. A database is a structured collection of data that is organized in a way that allows for efficient storage,
     retrieval, and manipulation of data.
     
     SQL: SQL databases are relational databases, meaning they use a structured and tabular format to organize data.
          Data is organized into tables with predefined schemas, where each table represents an entity, and each column 
          represents a specific attribute of that entity.
          
    NoSQL: NoSQL databases have a more flexible data model and can handle unstructured, semi-structured, or structured data.
           They can use various data models, such as document-oriented, key-value pairs, wide-column stores, or graph
           databases.
"""

'\nAns. A database is a structured collection of data that is organized in a way that allows for efficient storage,\n     retrieval, and manipulation of data.\n     \n     SQL: SQL databases are relational databases, meaning they use a structured and tabular format to organize data.\n          Data is organized into tables with predefined schemas, where each table represents an entity, and each column \n          represents a specific attribute of that entity.\n          \n    NoSQL: NoSQL databases have a more flexible data model and can handle unstructured, semi-structured, or structured data.\n           They can use various data models, such as document-oriented, key-value pairs, wide-column stores, or graph\n           databases.\n'

In [5]:
# What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [6]:
"""
Ans. DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used for defining
     and managing the structure of a database. DDL statements are responsible for defining and managing the structure
     that holds the data, including tables, indexes, and constraints.
     
     CREATE: statement is used to create database objects, such as tables, indexes, or views
     
         CREATE TABLE employees (
            employee_id INT PRIMARY KEY,
            employee_name VARCHAR(50),
            salary DECIMAL(10, 2) );

    DROP: statement is used to delete database objects, such as tables, indexes, or views
    
        DROP TABLE employees;
        
    ALTER: statement is used to modify the structure of existing database objects, like adding or dropping columns.
    
        ALTER TABLE employees
            ADD COLUMN department VARCHAR(50);
    
    TRUNCATE: statement is used to remove all rows from a table while retaining the table structure.
    
        TRUNCATE TABLE employees;
"""

'\nAns. DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used for defining\n     and managing the structure of a database. DDL statements are responsible for defining and managing the structure\n     that holds the data, including tables, indexes, and constraints.\n     \n     CREATE: statement is used to create database objects, such as tables, indexes, or views\n     \n         CREATE TABLE employees (\n            employee_id INT PRIMARY KEY,\n            employee_name VARCHAR(50),\n            salary DECIMAL(10, 2) );\n\n    DROP: statement is used to delete database objects, such as tables, indexes, or views\n    \n        DROP TABLE employees;\n        \n    ALTER: statement is used to modify the structure of existing database objects, like adding or dropping columns.\n    \n        ALTER TABLE employees\n            ADD COLUMN department VARCHAR(50);\n    \n    TRUNCATE: statement is used to remove all rows from a table while retaining the table structure.\n    \n        TRUNCATE TABLE employees;\n'

In [7]:
# What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [8]:
"""
Ans. DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used for manipulation
     and managing data within a database. DML statements allow users to insert, update, and delete data in the database.
     
     INSERT: statement is used to insert/ add new records(rows) to a table
     
     INSERT into employees(empId, empName, salary) VALUES (001, Amulya, 10000000)
     
     UPDATE: statement is used to update/ modify existing records(rows) in a table
     
     UPDATE employees
         SET salary = 5000000
         WHERE empId = 001
    DELETE: statement is used to delete/ remove records(rows) to a table
    
    DELETE employees
        WHERE empId = 001
     
"""

'\nAns. DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used for manipulation\n     and managing data within a database. DML statements allow users to insert, update, and delete data in the database.\n     \n     INSERT: statement is used to insert/ add new records(rows) to a table\n     \n     INSERT into employees(empId, empName, salary) VALUES (001, Amulya, 10000000)\n     \n     UPDATE: statement is used to update/ modify existing records(rows) in a table\n     \n     UPDATE employees\n         SET salary = 5000000\n         WHERE empId = 001\n    DELETE: statement is used to delete/ remove records(rows) to a table\n    \n    DELETE employees\n        WHERE empId = 001\n     \n'

In [9]:
# What is DQL? Explain SELECT with an example.

In [1]:
"""
Ans. DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) specifically focused 
     on querying or retrieving data from a database
     
     SELECT: Statement is used for retrieving data from a database 
"""

'\nAns. DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) specifically focused \n     on querying or retrieving data from a database\n     \n     SELECT: Statement is used for retrieving data from a database \n'

In [2]:
# Explain Primary Key and Foreign Key.

In [4]:
"""
Ans. A primary key is a field or a set of fields in a database table that uniquely identifies each record in that table.
     
     A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. 
"""

'\nAns. A primary key is a field or a set of fields in a database table that uniquely identifies each record in that table.\n     \n     A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. \n'

In [ ]:
# Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [5]:
"""
Ans. 
"""

'\nAns. \n'

In [6]:
# Give the order of execution of SQL clauses in an SQL query.

In [ ]:
"""
Ans. The order of execution of clauses in a query is generally as follows:

    1)FROM: Specifies the table or tables from which to retrieve the data.
    2)WHERE: Applies conditions to filter the rows based on specified criteria.
    3)GROUP BY: Groups the result set by one or more columns.
    4)HAVING: Applies conditions to filter the groups created by the GROUP BY clause.
    5)SELECT: Specifies the columns to be included in the result set.
    6)ORDER BY: Sorts the result set based on specified columns and sort orders.
"""