In [1]:
# List any five functions of the pandas library with execution.

In [2]:
"""
Ans. Five functions of the pandas: 

     1) read_csv()
     2) head()
     3) tail()
     4) groupBy()
     5) merge()
"""

'\nAns. Five functions of the pandas: \n\n     1) read_csv()\n     2) head()\n     3) tail()\n     4) groupBy()\n     5) merge()\n'

In [3]:
# Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
#  DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [4]:
import pandas as pd

def reindex_dataframe(df):
    new_index = range(1, len(df) * 2, 2)
    df_reindexed = df.set_index(pd.Index(new_index))
    
    return df_reindexed
df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})

df_reindexed = reindex_dataframe(df)

print(df_reindexed)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [5]:
# You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
# iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
# function should print the sum to the console.

In [6]:
import pandas as pd

def sum_of_the_first(df):
    
    if df['Values'] is None:
        print("The values are NULL in the Dataframe")
        return
    
    first_three_values = df['Values'].head(3)
    
    sum_of_first_three = first_three_values.sum()
    
    print("Sum of the first three values in 'Values' column:", sum_of_first_three)

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
 
sum_of_the_first(df)

Sum of the first three values in 'Values' column: 60

In [7]:
# Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
# 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
import pandas as pd

def count_words(text):
    return len(str(text).split())

def add_word_count_column(df):
    if 'Text' not in df.columns:
        print("Error: 'Text' column not found in the DataFrame.")
        return
    
    df['Word_Count'] = df['Text'].apply(count_words)

df = pd.DataFrame({'Text': ['This is a sample text.', 'Count the words here.', 'Another example.']})

add_word_count_column(df)

print(df)

                     Text  Word_Count
0  This is a sample text.           5
1   Count the words here.           4
2        Another example.           2

In [9]:
# How are DataFrame.size() and DataFrame.shape() different?

In [10]:
"""
Ans. DataFrame.size(): The size attribute returns the total number of elements in the DataFrame, which is equivalent 
     to the total number of cells (rows * columns). It returns a single value representing the total size of the DataFrame.
        
     DataFrame.shape(): The shape attribute returns a tuple representing the dimensions of the DataFrame.
     It provides the number of rows and columns in the DataFrame in the format 

"""

'\nAns. DataFrame.size(): The size attribute returns the total number of elements in the DataFrame, which is equivalent \n     to the total number of cells (rows * columns). It returns a single value representing the total size of the DataFrame.\n        \n     DataFrame.shape(): The shape attribute returns a tuple representing the dimensions of the DataFrame.\n     It provides the number of rows and columns in the DataFrame in the format \n\n'

In [11]:
# Which function of pandas do we use to read an excel file?

In [12]:
"""
Ans. 

import pandas as pd

df = pd.read_excel('your_file.xlsx')

print(df)

"""

"\nAns. \n\nimport pandas as pd\n\ndf = pd.read_excel('your_file.xlsx')\n\nprint(df)\n\n"

In [13]:
# You have a Pandas DataFrame df that contains a column named 'Email' that contains email
# addresses in the format 'username@domain.com'. Write a Python function that creates a new column
# 'Username' in df that contains only the username part of each email address.

In [14]:
import pandas as pd

def username(df):
    
    if df['Email'] is None:
        print("The dataframe is empty")
        return
    df['Username'] = df['Email'].str.split('@').str[0]
    
    return df['Username']

df = pd.DataFrame({'Email': ['user1@example.com', 'user2@example.com', 'user3@example.com']})

username(df)

0    user1
1    user2
2    user3
Name: Username, dtype: object

In [15]:
# You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
# all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
# function should return a new DataFrame that contains only the selected rows.

In [16]:
import pandas as pd

def rows(df):
    
    if 'A' not in df.columns or 'B' not in df.columns:
        print("Error: Columns 'A' and 'B' must exist in the DataFrame.")
        return
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

df = pd.DataFrame({'A': [6, 8, 4, 10], 'B': [5, 7, 9, 2], 'C': [1, 3, 5, 7]})

rows(df)

    A  B  C
0   6  5  1
1   8  7  3
3  10  2  7

In [17]:
# Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
# median, and standard deviation of the values in the 'Values' column.

In [18]:
import pandas as pd


def MathFunctions(df):
    
    if df['Values'] is None:
        print("The values are null in the dataframe")
        return 
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()
    
    statistics = {
        'Mean': mean_value,
        'Median': median_value,
        'Standard Deviation': std_deviation
    }
    
    return statistics

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})


result = MathFunctions(df)


print(result)

{'Mean': 30.0, 'Median': 30.0, 'Standard Deviation': 15.811388300841896}

In [19]:
# Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
# create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
# for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
# should include the current day.

In [20]:
import pandas as pd

def calculate_moving_average(df):
    
    if 'Sales' not in df.columns or 'Date' not in df.columns:
        print("Error: 'Sales' and 'Date' columns must exist in the DataFrame.")
        return None

    
    df['Date'] = pd.to_datetime(df['Date'])
    
    
    df.sort_values(by='Date', inplace=True)
    
    
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07'],
    'Sales': [10, 12, 15, 8, 20, 18, 22]
})

result_df = calculate_moving_average(df)


print(result_df)

        Date  Sales  MovingAverage
0 2023-01-01     10      10.000000
1 2023-01-02     12      11.000000
2 2023-01-03     15      12.333333
3 2023-01-04      8      11.250000
4 2023-01-05     20      13.000000
5 2023-01-06     18      13.833333
6 2023-01-07     22      15.000000

In [21]:
# You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
# column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
# Monday, Tuesday) corresponding to each date in the 'Date' column.

In [22]:
import pandas as pd

def add_weekday_column(df):
    if 'Date' not in df.columns:
        print("Error: 'Date' column not found in the DataFrame.")
        return None

    df['Date'] = pd.to_datetime(df['Date'])
    
    df['Weekday'] = df['Date'].dt.day_name()

    return df

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03']})

result_df = add_weekday_column(df)

print(result_df)

        Date  Weekday
0 2023-01-01   Sunday
1 2023-01-02   Monday
2 2023-01-03  Tuesday

In [23]:
# Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
# function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [24]:
import pandas as pd

def select_rows_between_dates(df):
    if 'Date' not in df.columns:
        print("Error: 'Date' column not found in the DataFrame.")
        return None
    
    df['Date'] = pd.to_datetime(df['Date'])
    
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    
    return selected_rows

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-02-15']})

result_df = select_rows_between_dates(df)

print(result_df)

        Date
0 2023-01-01
1 2023-01-15

In [25]:
# To use the basic functions of pandas, what is the first and foremost necessary library that needs to
# be imported?

In [26]:
"""
Ans. To use the basic functions of Pandas, you need to import the Pandas library
     
     import pandas as pd
     
     This line imports the Pandas library and assigns it the alias 'pd,' which is a common convention among the 
     Pandas community. Using the 'pd' alias, you can then access Pandas functions and classes. 
"""

"\nAns. To use the basic functions of Pandas, you need to import the Pandas library\n     \n     import pandas as pd\n     \n     This line imports the Pandas library and assigns it the alias 'pd,' which is a common convention among the \n     Pandas community. Using the 'pd' alias, you can then access Pandas functions and classes. \n"