In [1]:
# Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data = [4,8,15,16,23,42]

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
# Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

In [4]:
import pandas as pd

data = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(data)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
# Create a Pandas DataFrame that contains the following data Then, print the DataFrame.

In [6]:
import pandas as pd

data = { 'Name':['Alice','Bob','Claire' ],
         'Age':[25,30,27],
        'Gender':['Female','Male','Female']

        }

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
# What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [8]:
"""
Ans. A DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes
     (rows and columns).
     
     A Pandas Series is a one-dimensional labeled array capable of holding any data type. It is essentially a single column
     of a DataFrame. 
"""
import pandas as pd
series = pd.Series([10, 20, 30, 40])

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
})

print("series",series)
print("Dataframe", df)

series 0    10
1    20
2    30
3    40
dtype: int64
Dataframe      Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
# What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when
# you might use one of these functions?

In [10]:
"""
Ans. Some common functions are:
     
     1) head() and tail()
     2) describe() df.describe()
     3) shape print(df.shape)
     4) groupby() df.groupby('Gender')['Age'].mean()
"""

"\nAns. Some common functions are:\n     \n     1) head() and tail()\n     2) describe() df.describe()\n     3) shape print(df.shape)\n     4) groupby() df.groupby('Gender')['Age'].mean()\n"

In [11]:
# Which of the following is mutable in nature Series, DataFrame, Panel?

In [12]:
"""
Ans. Series and DataFrame is a mutable meaning you can modify their values, add or remove elements, and perform various 
     operations that alter the structure or content of the data. 
"""

'\nAns. Series and DataFrame is a mutable meaning you can modify their values, add or remove elements, and perform various \n     operations that alter the structure or content of the data. \n'

In [13]:
# Create a DataFrame using multiple Series. Explain with an example.

In [14]:
import pandas as pd

name = pd.DataFrame({
        'Name': ['Amulya', 'Atulya', 'Mark'],
        'Age':[4,5,6],
        'Gender':['Male', 'Female', 'Male']})
print(name)

     Name  Age  Gender
0  Amulya    4    Male
1  Atulya    5  Female
2    Mark    6    Male