In [1]:
"Question 1"
x = "String"
y = ["a", "b", "c"]
z = 54.54
w = ("a", "b", "c")
print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [2]:
"Question 2"
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [3]:
"Question 3"
var1 = 100/10 # Simple Division
var2 = 100%10 # Modulus
var3 = 100//10 # Floor Division
var4 = 100** 10 # Exponentiation

print( "Simple division: ")
print(var1)
print( "Modulus:")
print((var2))
print("Floor division:")
print((var3))
print( "Exponentiation:")
print((var4))

Simple division:
10.0
Modulus:
0
Floor division:
10
Exponentiation:
100000000000000000000

In [4]:
"Question 4"
var1 = [0,'1', 2.0, [3,4], (5,6), 7 , "8", "9",['a','b','c'], (2,'a',262.262 )] # creation of list
for x in var1:  # For loop 
    print(x)  # Print

0
1
2.0
[3, 4]
(5, 6)
7
8
9
['a', 'b', 'c']
(2, 'a', 262.262)

In [6]:
"Question 5"
A = int(input("Enter the value of number A: "))
B = int(input("Enter the value of number B: "))

count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"Number A is divisible by number B {count} times.")
else:
    print("Number A is not divisible by number B.")

Enter the value of number A:  40
Enter the value of number B:  2

Number A is divisible by number B 3 times.

In [ ]:
"Question 6"
var1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for x in var1:
    if( x%3 == 0):
        print(x)
        print("Divisible by 3")
    else:
        print(x)
        print("Not Divisible by 3")

In [12]:
"Question 7"
"Mutable Data Types:"
"Mutable data types are those that can be modified or changed after they are created. This means that you can alter their state, add, remove, or update elements without creating a new object."
"Examples are List, Dictionaries"
print("List")
var1 = [1, 2, 3]
var1[0] = 4
print(var1)  # The output will be 4,2,3

print("Dictionaries")
var2 = {'a': 1, 'b': 2}
var2['a'] = 3
print(var2)  # The output will be {'a': 3, 'b': 2}

"Imutable Data Types:"
"Immutable data types are those whose values cannot be changed after they are created. If you want to modify an immutable object, you need to create a new object with the desired changes"
" Example are String and Tuple"
print("Tuple")
var3 = (1, 2, 3)
var4 = var3 + (4, 5)
print(var3,var4)  # The output will be (1, 2, 3, 4, 5)

List
[4, 2, 3]
Dictionaries
{'a': 3, 'b': 2}
Tuple
(1, 2, 3) (1, 2, 3, 4, 5)